@import "tailwindcss";
/* Default body text = Figtree */
body {
  font-family: 'Figtree', sans-serif;
}

/* Headings = Dela Gothic One */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Figtree', sans-serif;
}

